<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Double Edge Barbershop</title>

 
	<!-- Custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Raleway|Open+Sans+Condensed:300|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    
    <!-- <link rel="stylesheet" href="/src/css/main.css"> -->
    <link rel="stylesheet" href="/src/css/drop.css">
    
    <meta name="viewport" content="width=device-width" initial-scale="1">
</head>
<body>

        
        <div ng-controller="viewController" ng-cloak hide-sm hide-xs>
          <md-content class="nav_bar" layout="row" layout-align="center start">
            <div class="corner-logo" style="border:none; margin:0;">  
                &nbsp;
              </div>
            <md-nav-bar
              md-selected-nav-item="currentNavItem"
              nav-bar-aria-label="navigation links" layout="row" layout-align="space-around center">
              
              


              <md-nav-item md-nav-click="goto('about')" name="about">
                About
              </md-nav-item>
              <md-nav-item md-nav-click="goto('barbers')" name="barbers">
                Barbers
              </md-nav-item>
              <md-nav-item md-nav-click="goto('contact')" name="contact">
                Contact
              </md-nav-item>
              <md-nav-item md-nav-click="goto('services')" name="services">
                Services
              </md-nav-item>
              <md-nav-item md-nav-click="goto('gallery')" name="gallery">
                Gallery
              </md-nav-item>
              <md-nav-item md-nav-click="goto('booknow')" name="booknow">
                Book Now
              </md-nav-item>
            </md-nav-bar> 
          </md-content>
        </div>


        <div ng-controller="navController" layout="column" ng-cloak>
          <a href="" class="mobile" ng-click="toggleLeft()" class="md-primary" hide-gt-sm>&#9776;</a> 
          <section layout="row" flex hide-gt-sm>

            <md-sidenav
              class="md-sidenav-left"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-md')"
              md-whiteframe="4">

            <md-toolbar class="md-theme-default">
              <h1 class="md-toolbar-tools">Double Edge Barbershop</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
              <md-button ng-click="goto('about')" class="md-primary" hide-gt-md>
                About
              </md-button>
            </md-content>
            <md-content layout-padding ng-controller="LeftCtrl">
              <md-button ng-click="goto('barbers')" class="md-primary" hide-gt-md>
                Barbers
              </md-button>
            </md-content>
            <md-content layout-padding ng-controller="LeftCtrl">
              <md-button ng-click="goto('contact')" class="md-primary" hide-gt-md>
                Contact
              </md-button>
            </md-content>
            <md-content layout-padding ng-controller="LeftCtrl">
              <md-button ng-click="goto('services')" class="md-primary" hide-gt-md>
                Services
              </md-button>
            </md-content>
            <md-content layout-padding ng-controller="LeftCtrl">
              <md-button ng-click="goto('booknow')" class="md-warn" hide-gt-md>
                Book Now
              </md-button>
            </md-content>
          </md-sidenav>

        </section>

        <md-content>
            <div class="partial-container" ng-view="" style="overflow-y: scroll"></div>
        </md-content>       
</div>
        

        <!-- END Nav Bar -->
        <!-- Partial -->
        
        <!-- END Partial -->
        <footer>
          <div layout="row" layout-align="space-around center">
            

            <div>&copy; DoubleEdge Barbershop 2017</div>
            <div>Call Us!: 818.292.2670</div>
            <div>3182 E. Thousand Oaks Blvd,  Thousand Oaks, CA 91362</div>
            <div layout="row" layout-align="space-around center">
              <a href="https://www.facebook.com/DoubleEdgeBarberShop/"><div class="icon-facebook2"></div></a>
              <a href="https://www.instagram.com/double.edge.barbers/"><div class=icon-instagram></div></a>
              <a href="https://www.yelp.com/biz/double-edge-barber-shop-thousand-oaks-2"><div class="icon-yelp"></div></a>  
            </div>

          </div>
          
          
        </footer>
        
           <!-- Bower Components -->
    <script type="text/javaScript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script type="text/javaScript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javaScript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javaScript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javaScript" src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javaScript" src="/bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javaScript" src="/bower_components/angular-snapscroll/dist/angular-snapscroll.min.js"></script>

    <!-- App -->
    <script type="text/javaScript" src="/assets/app.js"></script>
    <!-- Controllers -->
    <script type="text/javaScript" src="/assets/controllers/viewController.js"></script>
    <script type="text/javaScript" src="/assets/controllers/navController.js"></script>
    <script type="text/javaScript" src="/assets/factories/viewFactory.js"></script>
    <!-- Nav Bar Code -->
    <script type="text/javascript" src="/src/js/nav.js" ></script>

</body>
</html>