  <!-- <md-content class="md-padding" layout="column" layout-align="center center"> -->
  <md-content class="md-padding partial" layout-xs="column" layout="row" layout-align="center center" ng-init="aboutView()">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline card-title">About</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        <div layout="column" layout-fill class="text-content">      
            Welcome to Double Edge Barbershop. We are a full-service shop located in the heart of Thousand Oaks, CA. Our team is anchored by four full-time licensed barbers and we have a passion for traditional barbering and for serving our community. We have high standards as do our guests. Stop in for a cut, hot towel shave or just hang out. At Double Edge you’re not a number, you’re family.
            <br/>
          </div>

        </md-card-content>
<!--         <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions> -->
      </md-card>
  </div>
</md-content>