
  <md-content class="md-padding partial" layout-xs="column" layout="row" layout-align="center start" ng-init="aboutView()" style="max-width: 100%; padding-top: 150px;">
    <div flex-xs flex-gt-xs="50" layout="column" class="transparent-00" style="margin-bottom: 300px;">
      <md-card class="transparent-90">
        <md-card-title style="height:32px;padding:20px;">
          <md-card-title-text>
            <span class="md-headline card-title">About</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        <div layout="column" layout-fill class="text-content" style="font-size:1.5em">       
          Welcome to Double Edge, a full-service barbershop located in the heart of Thousand Oaks, CA. Our team is anchored by four full-time licensed barbers, with a passion for traditional barbering and for serving our community. Stop in for a haircut and hot towel shave today. At Double Edge you’re not a number, you’re family.
            <br/>
          </div>

        </md-card-content>
      </md-card>
  </div>
</md-content>