  <md-content class="md-padding" layout="column" layout-align="center center">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span style="font-family: 'Milkshake'; color:grey;" class="md-headline">About</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        <div layout="column" layout-fill class="expanded dropdown-content">      
            Welcome to Double Edge Studio located in the heart of Thousand Oaks, California. We specialize in traditional barbering services, ranging from hot towel shaves to classic/contemporary haircuts and styling – all in a comfortable and private atmosphere.  At Double Edge Studio, you’re not a number, you’re family.
            <br/>
Always Tight…Always Right.
            <br/>
          </div>

        </md-card-content>
<!--         <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions> -->
      </md-card>
</md-content>