<md-content ng-init="barbersView()" class="partial"  layout-lt-sm="column" layout-align="center start" layout="row" flex-xs flex-gt-xs="100" style="
            flex-wrap: wrap;
            padding-bottom: 300px;padding-top: 150px;"
            >
          <md-card class="transparent-90" ng-repeat="barber in barbers" style="min-height:250px; max-height:20vh; min-width:340px;">
            <md-card-title>
              <md-card-title-text style="margin:10px">
                <span class="md-headline">{{barber.name}}</span>
                <span class="md-subhead">{{barber.title}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media"><img class="md-user-avatar" src="/src/images/{{barber.image}}"/></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <a href="https://www.vagaro.com/doubleedgebarbershop/"><md-button>Book Now</md-button></a>
            </md-card-actions>
          </md-card>
</md-content>
