
<div class="container" style="display:block; margin-bottom: 20px;">
	<div class="img-container" style="display:inline;">
		<img src="/src/images/logo_original.png" alt="" style="width:175px;height:116px;">
	</div>
	<div class="color-container" style="display:inline-block; vertical-align: top;">
		<div style="width:100px;height:50px;background-color: #2C2D73"></div>
		<div style="width:100px;height:50px;background-color: #EC1F27"></div>
		<div style="width:100px;height:50px;background-color: #FFFFFF"></div>
	</div>
	<md-item-content  style="background-color: #2C2D73; color: #FFFFFF; font-family: 'Times New Roman'; font-size:1.5em; font-weight: normal;width:200px; border-radius:5px;" class="user tile md-whiteframe-z1"
                         layout="column">
        <a href="https://www.vagaro.com/doubleedgebarbershop/about" style="color:inherit;text-decoration:none;">
            <div class="md-tile-content" style="text-align:center;" >
              <h3 style="margin:5px 0;">Book Now</h3>
          	</div>
        </a>
		<md-divider layout-fill ng-show="$index == selectedUserIndex"></md-divider>
    </md-item-content>

</div>
<hr>
<div class="container" style="display:block; margin-bottom: 20px;">
	<div class="img-container" style="display:inline;">
		<img src="/src/images/logo_second.png" alt="" style="width:175px;height:116px;">
	</div>
	<div class="color-container" style="display:inline-block; vertical-align: top;">
		<div style="width:100px;height:50px;background-color: #0F71FF"></div>
		<div style="width:100px;height:50px;background-color: #FF3A2C"></div>
		<div style="width:100px;height:50px;background-color: #FFFFFF"></div>
	</div>

	<md-item-content  style="background-color: #0F71FF; color: #FFFFFF; font-family: 'Helvetica'; font-weight: normal; font-size:1.5em;width:200px; border-radius:5px;" class="user tile md-whiteframe-z1"
                         layout="column">
        <a href="https://www.vagaro.com/doubleedgebarbershop/about" style="color:inherit;text-decoration:none;">
            <div class="md-tile-content" style="text-align:center;" >
              <h3 style="margin:5px 0;">Book Now</h3>
          	</div>
        </a>
		<md-divider layout-fill ng-show="$index == selectedUserIndex"></md-divider>
    </md-item-content>

</div>
<hr>
<div class="container" style="display:block; margin-bottom: 20px;">
	<div class="img-container" style="display:inline;">
		<img src="/src/images/logo.png" alt="" style="width:175px;height:116px;">
	</div>
	<div class="color-container" style="display:inline-block; vertical-align: top;">
		<div style="width:100px;height:50px;background-color: #082F5D"></div>
		<div style="width:100px;height:50px;background-color: #8e0000"></div>
		<div style="width:100px;height:50px;background-color: #F5DA9F"></div>
	</div>



	<md-item-content  style="background-color: #8e0000; color: #F5DA9F; font-family: 'Great Vibes'; font-size:1.5em; font-weight: bold;width:200px; border-radius:5px;" class="user tile md-whiteframe-z1"
                         layout="column">
        <a href="https://www.vagaro.com/doubleedgebarbershop/about" style="color:inherit;text-decoration:none;">
            <div class="md-tile-content" style="text-align:center;" >
              <h3 style="margin:5px 0;">Book Now</h3>
          	</div>
        </a>
		<md-divider layout-fill ng-show="$index == selectedUserIndex"></md-divider>
    </md-item-content>
</div>

