  <!-- <md-content class="md-padding" layout="column" layout-align="center center"> -->
  <md-content class="md-padding partial" layout-xs="column" layout="row" layout-align="center center" ng-init="contactView()">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Contact</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        <div layout="column" layout-fill layout-align="center center" class="expanded dropdown-content">      
              <span>&#9743; 818.292.2670</span>
              <span>&#9993; coldxcut@gmail.com</span>
              <span>3182 E. Thousand Oaks Blvd.</span>
              <span>Thousand Oaks, CA 91362</span>

<!-- 
                            <span>{{data.content.data.phone}}</span>
              <span>{{data.content.data.email}}</span>
              <span>{{data.content.data.address}}</span>
              <span>{{data.content.data.city}}, {{data.content.data.state}} {{data.content.data.zip}}</span> -->
            <br/>
          </div>

        </md-card-content>
<!--         <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions> -->
      </md-card>
  </div>
</md-content>