  <!-- <md-content class="md-padding" layout="column" layout-align="center center"> -->
  <md-content class="md-padding partial" layout-xs="column" layout="row" layout-align="center center" ng-init="contactView()" style="max-width: 100%;">
    <div flex-xs="100" flex-gt-sm="50" layout="column" style="padding-bottom: 300px; padding-top: 150px;">
      <md-card class="transparent-90">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline card-title">Contact</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-gt-sm="row" class="text-content" layout-align="center center">
          
          <div layout="column" layout-fill layout-align="center center" class="text-content">
              <a href="https://www.google.com/maps/dir/''/double+edge+barber/@34.1680931,-118.9054765,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80e8251f4e5e992b:0x3de45ec4d651fd1!2m2!1d-118.8354364!2d34.168113"><img src="/src/images/staticmap.png" alt=""></a>
              <span>3182 E. Thousand Oaks Blvd.</span>
              <span>Thousand Oaks, CA 91362</span>
<!-- 
                            <span>{{data.content.data.phone}}</span>
              <span>{{data.content.data.email}}</span>
              <span>{{data.content.data.address}}</span>
              <span>{{data.content.data.city}}, {{data.content.data.state}} {{data.content.data.zip}}</span> -->
          </div>
          <div layout="column" layout-fill layout-align="center center" class="text-content">      
              <table class="subgroup">
                <tr>
                  <td colspan="2"><h3 class="subtitle">Hours</h3></td>
                </tr>
                <tr>
                  <td class="hours-row">TUE-FRI</td>
                  <td class="hours-row">10-6</td>
                </tr>
                <tr>
                  <td class="hours-row">SAT</td>
                  <td class="hours-row">9-4</td>
                </tr>
                <tr>
                  <td class="hours-row">SUN/MON</td>
                  <td class="hours-row">Fishing</td>
                </tr>
              </table>
              <div layout="row" class="icon-bar">
                <a href="https://www.facebook.com/DoubleEdgeBarberShop/">
                  <div class="icon-facebook2"></div>
                </a>
                <a href="https://www.instagram.com/double.edge.barbers/">
                  <div class=icon-instagram></div>
                </a>
                
                <a href="https://www.yelp.com/biz/double-edge-barber-shop-thousand-oaks-2">
                  <div class="icon-yelp"></div>
                </a>
              </div>
              <span>&#9743; 805-497-3400</span>
              <span>&#9993; coldxcut@gmail.com</span>
          </div>

        </md-card-content>
      </md-card>
  </div>
</md-content>