<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Gallery</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" style="max-height: 700px; max-width: 700px;">
        <img style="margin: auto; max-height:100%; max-width: 100%;" alt="Barbershop Photo" src="/src/images/gallery/{{url}}">
      </div>
    </md-dialog-content>
<!-- 
    <md-dialog-actions layout="row">
      <md-button href="" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
    </md-dialog-actions> -->
  </form>
</md-dialog>