  <md-content class="md-padding" layout="column" layout-align="center center">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Gallery</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        <div layout="column" layout-fill class="expanded dropdown-content">      
<!-- 
                            <span>{{data.content.data.phone}}</span>
              <span>{{data.content.data.email}}</span>
              <span>{{data.content.data.address}}</span>
              <span>{{data.content.data.city}}, {{data.content.data.state}} {{data.content.data.zip}}</span> -->
            <br/>
          </div>

        </md-card-content>
<!--         <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions> -->
      </md-card>
</md-content>