  <md-content class="md-padding" layout="column" layout-align="center center">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span style="font-family: 'Milkshake'; color:grey;" class="md-headline">Gallery</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-grid-list
                md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                md-row-height-gt-md="1:1" md-row-height="4:3"
                md-gutter="8px" md-gutter-gt-sm="4px" >

            <md-grid-tile ng-repeat="tile in tiles"
                          md-rowspan="{{tile.span.row}}"
                          md-colspan="{{tile.span.col}}"
                          md-colspan-sm="1"
                          md-colspan-xs="1"
                          ng-class="tile.background" >
              <!-- <md-icon md-svg-icon="{{tile.icon}}"></md-icon> -->
            </md-grid-tile>
          </md-grid-list>

        </md-card-content>
<!--         <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions> -->
      </md-card>
</md-content>