<md-content class="md-padding partial" layout-xs="column" layout="row" layout-align="center center" ng-init="servicesView()">
    <div class="transparent-00" flex-xs flex-gt-xs="50" layout="column" style="padding-bottom:300px;padding-top: 150px;">
      <md-card class="transparent-90">
        <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline card-title">Services</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="center center" style="font-size: 1.25em">
          <table>
            <tr ng-repeat="service in services">
              <td class="service-row">{{service.name}}</td>
              <td class="service-row">{{service.price}}</td>
            </tr>
          </table>
        </md-card-content>
      </md-card>
	</div>
</md-content>