<!-- <h1>SERVICES</h1>
 -->


  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Services</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        	<p>Haircut$35</p>
			<p>Shave$40</p>
			<p>Two Bits (Haircut & Shave)$70</p>
			<p>Young Men’s Cut$25</p>
			<p>Buzz$25</p>
			<p>Beard Trim$15+</p>
        </md-card-content>
<!--         <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions> -->
      </md-card>
	</div>
</md-content>