$primary:#4527a0;
$primary-light:#7953d2;
$secondary:#c62828;
$secondary-light:#ff5f52;



$primary-dark: #082F5D;
$secondary-dark:#8e0000;
$cream:#F5DA9F;

$new-blue: #0F71FF;
$new-red: #FF3A2C;



$light-grey:#F5F5F6;
$grey:#E1E2E1;


$gradient: linear-gradient(to right, #7B1FA2 ,#26A69A);


$blue: #2E2975;
$red: red;
$gold: #FFD700;
$luxorgold: #AB8D3F;
$white: #FFF;
$black: #000;
