@font-face {
  font-family: 'Milkshake';
  src:url('../../src/font/Milkshake.ttf?fyi8es') format('truetype'),
      url('../../src/font/Milkshake.svg?fyi8es#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
