
$logo-height:100;
$logo-width:2.3*$logo-height;
  
.corner-logo {
  width:$logo-width + px;
  height: $logo-height + px;
  display: inline-block;
  background: url("/src/images/logo.png") no-repeat;
  background-size: contain;
  overflow:hidden;
}

.desktop-logo {
  position:absolute;
  top:5px;
  left:20px;
  width:$logo-width + px;
  height: $logo-height + px;
  z-index: 1000;
}

._md-nav-bar-list, .nav_bar{
  background-color:rgba(0, 0, 0, 0);
}

.nav_bar {
  padding: 55px 20px 0 $logo-width +  px;
  background-color:rgba(255, 255, 255, .5);
  overflow:hidden;
  font-family: 'Oswald';
  z-index: 10;
}

.mobile {
  z-index: 50;
  background-color: $darkred;
  position: absolute;
  outline:none;
  padding: 20px;
  top: 0;
  right: 0;
}
.md-active.md-active{
  color:$blue;
  border-color:$blue;
}
md-nav-bar md-nav-ink-bar {
  color: $blue;
  background-color: $blue;
}

a.mobile{
  font-size: 2em;
  color:$cream;
  text-decoration: none;
}
a.mobile:visited {
  color:$cream;
}