@import 'breakpoints';
@import 'colors';
@import 'footer';
@import 'icons';
@import 'fonts';
@import 'nav';

.md-headline{
  font-family: 'Milkshake'; 
  color:grey;
  text-align: center;
}

.nav-item{
  font-size:2em;
}
.text-content {
  font-size: 1.1em;
  line-height: 1.8em;
}
.service-row {
  padding:4px;
}
.alert {
  color:$red;
}
.transparent-00{
  background-color: rgba(255,255,255, 0)
}
.transparent-90{
  background-color: rgba(255,255,255, .9)
}
.partial-container{
  background: url('../../src/images/bg-bw-about.jpg') no-repeat center top;
  background-size: cover;
  position:fixed;
  padding-top:150px;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:0;
}
.partial {
  background-color: rgba(0,0,0, 0)
}
.card-title {
  font-size:2.5em;
}
.text-content{
  text-align: center;
}
.logo-container{
  width:100%;
}
.subtitle{
  font-family: 'Milkshake';
  color:grey;
  margin:0;
  border-bottom: 1px solid rgba(100,100,100, .25);
}
.subgroup {
  padding-bottom:10px;
}